<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
    	<alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
    	<table st-pipe="updateFromServer" st-table="displayed" class="table table-striped">
			<thead>
			<tr>
				<th class="clickable-shop-header" st-sort="title" st-skip-natural="true" st-sort-default='true'>Title</th>
				<th class="clickable-shop-header" st-sort="name" st-skip-natural="true">Lead Singer</th>
				<th class="clickable-shop-header" st-sort="company" st-skip-natural="true">Company</th>
				<th class="clickable-shop-header" st-sort="category" st-skip-natural="true">Category</th>
				<th class="clickable-shop-header" st-sort="price" st-skip-natural="true">Price</th>
				<th class="clickable-shop-header">Quantity</th>
				<th class="clickable-shop-header">Add To Cart</th>
			</tr>
			<tr>
				<th>
					<input st-search="title" placeholder="search" class="input-sm form-control" type="search"/>
				</th>
				<th>
					<input st-search="name" placeholder="search" class="input-sm form-control" type="search"/>
				</th>
				<th>
				</th>
				<th>
					<input st-search="category" placeholder="search" class="input-sm form-control" type="search"/>
				</th>
				<th></th>
				<th></th>
				<th></th>
			</tr>
			</thead>
			<tbody ng-show="!isLoading">
			<tr ng-repeat="item in displayed">
				<td>{{item.title}}</td>
				<td>{{item.name}}</td>
				<td>{{item.company}}</td>
				<td>{{item.category}}</td>
				<td>{{item.price | currency: '$' : 2}}</td>
				<!-- ng-bind - this gets its data from the item.quantity value, and with ng-model this updates the item.quantity value 
				this way the quantity is always in sync-->
				<td><input type="number" ng-bind="item.quantity" ng-model="item.quantity" upc="{{item.upc}}" /></td>
				<td><button type="button" ng-click="addToCart($event, item)" ng-class="{'btn-danger': item.warn}" class="btn btn-sm btn-success">
				<i class="glyphicon glyphicon-plus">
				</i>
				</button></td>
			</tr>
			</tbody>
			<tbody ng-show="isLoading">
				<tr>
					<td colspan="4" class="text-center">Loading ... </td>
				</tr>
			</tbody>
			<tfoot>
				<tr>
					<td class="text-center" st-pagination="" st-items-by-page="10" colspan="7">
					</td>
				</tr>
			</tfoot>
		</table>
    </div>
  </div>
</div>